<div class="container mt-4 col-md-4">
  <h2>Booking Form</h2>
  <form (ngSubmit)="onSubmit()" [formGroup]="bookingForm">
    <div class="form-group">
      <label for="name" class="form-label">Name:</label>
      <input type="text" class="form-control" id="name" formControlName="name" name="name" placeholder="Name"
        maxlength="50">
      <div *ngIf="(bookingForm.get('name')?.touched || this.submitted )&& bookingForm.get('name')?.invalid"
        class="text-danger">
        Name is required.
      </div>
    </div>
    <div class="form-group">
      <label for="email" class="form-label">Email:</label>
      <input type="text" class="form-control" id="email" formControlName="email" placeholder="abc@gmail.com"
        maxlength="50">
      <div *ngIf="(bookingForm.get('email')?.touched || this.submitted) && bookingForm.get('email')?.invalid"
        class="text-danger">
        Email is required.
      </div>
      <div *ngIf="bookingForm.get('email')?.errors?.['email']" class="text-danger">
        Email must be a valid email address.
      </div>
    </div>
    <div class="form-group">
      <label for="date" class="form-label">Moving Date:</label>
      <input type="date" id="date" class="form-control" formControlName="date">
      <div *ngIf="(bookingForm.get('date')?.touched || this.submitted) && bookingForm.get('date')?.invalid"
        class="text-danger">
        Date is required.
      </div>
      <div *ngIf="bookingForm.get('date')?.errors?.['invalidDate']"  class="text-danger">Date cannot be in the past.</div>
    </div>
    <button type="submit" class="btn btn-primary mt-2 mb-3">Book</button>
  </form>
</div>